@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 100% 97%;
    --foreground: 180 10% 20%;

    --card: 160 100% 97%;
    --card-foreground: 180 10% 20%;

    --popover: 160 100% 97%;
    --popover-foreground: 180 10% 20%;

    --primary: 175 39% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 150 30% 74%;
    --secondary-foreground: 180 10% 20%;

    --accent: 30 100% 71%;
    --accent-foreground: 180 10% 20%;

    --accent-light: 40 100% 80%;
    --accent-light-foreground: 180 10% 20%;

    --accent-lighter: 50 100% 90%;
    --accent-lighter-foreground: 180 10% 20%;

    --muted: 195 100% 97%;
    --muted-foreground: 180 5% 45%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 175 39% 85%;
    --input: 175 39% 85%;
    --ring: 175 39% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 10% 10%;
    --foreground: 0 0% 98%;

    --card: 180 10% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 180 10% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 175 39% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 150 30% 30%;
    --secondary-foreground: 0 0% 98%;

    --accent: 30 100% 71%;
    --accent-foreground: 180 10% 10%;

    --muted: 180 10% 15%;
    --muted-foreground: 0 0% 70%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 10% 20%;
    --input: 180 10% 20%;
    --ring: 175 39% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    @apply font-bold;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

